<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	<!-- scan the annotation beans -->
	<context:component-scan base-package="com.TB.TBox" />
	<context:component-scan base-package="com.TB.push" />
	<context:component-scan base-package="com.TB.base" />
	<context:component-scan base-package="analytic.result" />
	<context:component-scan base-package="test" />
	<bean id="note" class="com.TB.TBox.note.bean.Note"></bean>

	<bean name="SchedulerImpl" class="com.TB.base.quartz.quartzImp.SchedulerImpl">
		<property name="firstComplexJobDetail" ref="firstComplexJobDetail"></property>
		<property name="scheduler" ref="scheduler"></property>
		<property name="secondComplexJobDetail" ref="secondComplexJobDetail"></property>
		<property name="WarnJob" ref="WarnJob"></property>
		<property name="FutureNote" ref="FutureNote"></property>
	</bean>
	<bean name="Topic" class="com.TB.TBox.topic.bean.Topic">
		<property name="topicId" ref="topicId"></property>
		<property name="topicContent" ref="topicContent"></property>
		<property name="time" ref="time"></property>
		<property name="user" ref="user"></property>
		<property name="goodNum" ref="goodNum"></property>
		<property name="opinionNumber" ref="opinionNumber"></property>
		<property name="title" ref="title"></property>
	</bean>
	<bean name="scheduler"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean" />
	 

	<!--============= Quartz 定时任务 =================== -->

	<!-- ==================job类========================= -->
	<bean name="firstComplexJobDetail"
		class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="QuartzTest" />
		<property name="durability" value="true" />
		<property name="jobDataMap">
			<map>
				<entry key="anotherBean" value-ref="anotherBean" />
			</map>
		</property>
		<!-- <property name="jobDataAsMap"> <map> <entry key="simpleService"> <ref 
			bean="simpleService" /> </entry> </map> </property> -->

	</bean>

	<bean name="secondComplexJobDetail"
		class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="test.SecQuartzTest" />
		<property name="durability" value="true" />
	</bean>
	<!-- 未来纸条bean -->
	<bean name="FutureNote"
		class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.TB.TBox.jobClass.FutureNote" />
		<property name="durability" value="true" />
	</bean>
	<!-- 提醒纸条bean -->
	<bean name="WarnJob"
		class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.TB.TBox.jobClass.WarnJob" />
		<property name="durability" value="true" />
	</bean>

	<!-- ======================触发器========================== -->
	<!-- 提醒纸条触发器 -->
	<bean id="WarnJobTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="WarnJob" />
		<!-- <property name="cronExpression" value="0 21 23 10 8 ? 2017" /> -->
		<property name="cronExpression">
			<value>* * * * * ? 2099</value>
		</property>
	</bean>
	<!-- 未来纸条触发器 -->
	<bean id="FutureNoteTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="FutureNote" />
		<!-- <property name="cronExpression" value="0 21 23 10 8 ? 2017" /> -->
		<property name="cronExpression">
			<value>* * * * * ? 2099</value>
		</property>
	</bean>
	<bean id="firstComplexJobDetailTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="firstComplexJobDetail" />
		<!-- <property name="cronExpression" value="0 21 23 10 8 ? 2017" /> -->
		<property name="cronExpression">
			<value>* * * * * ? 2099</value>
		</property>
	</bean>
	<bean id="secondComplexJobDetailTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="secondComplexJobDetail" />
		<property name="cronExpression" value="* * * * * ? 2099" />
	</bean>
	<!-- =======================定时器容器=========================== -->
	<bean id="schedulerFactory"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="jobDetails">
			<list>
				<ref bean="firstComplexJobDetail" />
				<ref bean="secondComplexJobDetail" />
				<ref bean="FutureNote" />
				<ref bean="WarnJob" />
			</list>
		</property>

		<property name="triggers">
			<list>
				<!-- <ref local="cronTrigger" /> <ref local="seccronTrigger" /> -->
			</list>
		</property>
	</bean>
	<!-- <bean id="cronAction" class="test.CronAction" scope="prototype"> <property 
		name="scheduler"> <ref bean="schedulerFactory" /> </property> </bean> -->
</beans>
