<!-- <!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd"> -->

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	
	<servlet>
		<servlet-name>SpringMVC</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/configs/mvc-dispatcher-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserServlet</display-name>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>com.TB.TBox.user.servlet.UserServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Friend_categoryServlet</display-name>
		<servlet-name>Friend_categoryServlet</servlet-name>
		<servlet-class>com.TB.TBox.user.servlet.Friend_categoryServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>howMyAllNote</display-name>
		<servlet-name>howMyAllNote</servlet-name>
		<servlet-class>com.TB.TBox.note.servlet.howMyAllNote</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SpringMVC</servlet-name>
		<!-- 此处可以可以配置成*.do，对应struts的后缀习惯 -->
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/UserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Friend_categoryServlet</servlet-name>
		<url-pattern>/Friend_categoryServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>howMyAllNote</servlet-name>
		<url-pattern>/howMyAllNote</url-pattern>
	</servlet-mapping>
</web-app>
